body {
  margin: 0;
  min-height: 100vh;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: transparent;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: #4c3e4e;
}

label {
  margin-left: 20px;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #4c3e4e;
}

.btn {
  grid-column: span 2;
  background-color: #b66bbe;
  color: whitesmoke;
  border-radius: 25px;
  padding: 14px 34px;
  cursor: pointer;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  text-align: center;
}

.btn:hover {
  background-color: #ffffff33;
}

.passwordDisplay {
  grid-column: span 2;
  background-color: whitesmoke;
  color: #4c3e4e;
  padding: 10px;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}
